        .otp-overlay {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(0, 0, 0, 0.5);
          z-index: 9999;

        }

        .otp-box {
          background: #fff;
          padding: 40px 30px 20px;
          border-radius: 10px;
          text-align: center;
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
          width: 90%;
          max-width: 500px;
          position: relative;
        }

        .otp-title {
          font-size: 18px;
          font-weight: 600;
          color: #000;
          margin-bottom: 8px;
        }

        .otp-info {
          font-size: 14px;
          color: #118a44;
          margin-bottom: 4px;
        }

        .otp-msg {
          font-size: 13px;
          color: #000;
          font-weight: 500;
          margin-bottom: 20px;
        }

        .otp-inputs {
          display: flex;
          justify-content: center;
          gap: 10px;
          padding: 30px 20px;
          background: #fff;
          border-radius: 10px;
          box-shadow: 0px 0px 8px rgba(2, 2, 80, 0.2);
          width: fit-content;
          margin: 0 auto;
        }

        .otp-input {
          height: 45px;
          width: 45px;
          border: 1px solid #2f8f1f;
          border-radius: 4px;
          text-align: center;
          font-size: 18px;
          outline: none;
          transition: border 0.2s ease;
          display: flex;
          padding: 8px;

        }
        .password-inputs{
            padding: 10px 8px;
            width: 100%;
        }
        .password-inputs .otp-input{
            width: 100%;
        }

        .otp-input:focus {
          border: 2px solid #287a1a;
        }
        .otp-close{
            position: absolute;
            top: 8px;
            right: 8px;
        }