.request_modal .modal-body{
    background-color: #aac3e9;
}
.request_demo_close{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
}
.request_modal .modal-dialog-scrollable .modal-body {
    /* overflow-y: auto; */
    overflow: hidden !important;
}